# Data Pre-Processing

#### Import Packages and excel

In [32]:
# importing liabraries
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.rcParams['figure.dpi'] = 100

from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

In [35]:

df=pd.read_excel("default of credit card data.xls",header=1)

In [38]:
df.head().style.background_gradient(cmap='rainbow')

## Data Cleaning

### Handling Missing values

* Handling Missing values 
* Handling Duplicates
* Check data type
* Understand the dataset


#### Check Null Values

In [20]:
##these are the features with nan value
features_with_na=[features for features in df.columns if df[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature,np.round(df[feature].isnull().mean()*100,5), '%missing values')

In [21]:
features_with_na

[]

* **There are no null values in the dataset**

###  Other Data Cleaning steps

**Handling Duplicates**

In [22]:
df.duplicated().sum()

0

* **No Duplicates in the dataset**

**Remove id from the dataset as it cannot used in Model Training**

In [23]:
df.drop('ID', inplace=True, axis=1)

# Feature Engineering

## Feature Extraction

- importing date class from datetime module
- from datetime import date
  
- creating the date object of today's date
- todays_date = date.today()
- current_year= todays_date.year
- df['company_age'] = current_year-df['yr_of_estab']

### Type of Features

**Numeric Features**

In [24]:
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of Numerical Features :', len(num_features))

Num of Numerical Features : 24

**Categorical Features**

In [25]:
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of Categorical Features :', len(cat_features))

Num of Categorical Features : 0

**Discrete features**

In [26]:
discrete_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print('We have {} discrete features : {}'.format(len(discrete_features), discrete_features))

We have 10 discrete features : ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'default payment next month']

**Continues Features**

In [40]:
continuous_features=[feature for feature in num_features if feature not in discrete_features]
print('\nWe have {} continuous_features : {}'.format(len(continuous_features), continuous_features))

We have 14 continuous_features : ['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

## Feature Selection